

 <!-- <div class="bg auto w-screen">-->
  <div  style="background: url(../assets/images/Thai-siloutte.jpg);">
      <img class= "w-full h-64" src="/assets/images/Thai-siloutte.jpg">
  </div>
  {{yield}}

