

<ul class="flex flex-wrap justify-around sm:py-1 font-mono text-xs
  md:text-base bg-orange-700">
  <NavButton @route="index">HOME</NavButton>
  <NavButton @route="about">ABOUT US</NavButton>
  <NavButton @route="contact">CONTACT US</NavButton>
  <NavButton >
    <a href="https://goo.gl/maps/j9fsqotUdhqqFUwE7" target="_blank"
      rel="noopener">
      DIRECTIONS
    </a>
  </NavButton>

</ul>

