


<div class="bg-blue-800 min-h-screen flex flex-col" style="background: url(../assets/images/pattern3E.jpg);">

    <p class="font-sans text-lg text-yellow-200 text-left">
          <h1>Temple Massage of Chiang mai</h1>
          <p  >Temple massage is housed in Chiang mai traditional brick building on
            the temple grounds. The architechture dates from 1200 Ad around the founding of Chiang Mai.
            Some modern additions have been added.
            We are a very affordable and traditional massage. Come and experience the authentic 
            Massage experience you've been wanting.
          </p>

    </p>
    
</div>




