


<div class="bg-blue-800 min-h-screen flex flex-col" style="background: url(../assets/images/Pattern1.jpg);">

    <div class="font-sans text-lg text-purple-900 text-left">
      <h1>Line Id: Thia Temple Massage</h1>

      <h1>+66 555-5555</h1>

      <h1>Facebook @ Thai Temple Massage</h1>

    </div>
</div>

