


<div class="bg-blue-800 min-h-screen flex flex-col" style="background: url(../assets/images/pattern3E.jpg);">
    <div class=" font-sans text-lg text-yellow-200 text-left"> 
    <h1>Sawadaa Kaap </h1>
    <h2> Thai scrip hello</h2>
    <p>Welcome to Temple massage of Chiang mai</p>
    <p>We offer sveral type of message at affordable rates</p>
    
    <ul>
        <ul>Body Massage
            <li>Oil 250 per hour</li>
            <li>Traditional Thai 150 per hour</li>
        </ul>
        <li>Foot Relexology 150 per hour</li>
        <li>Thai Herbal & Hot Compress 250 per hour</li>
    </ul>   

    <p> We are located in Chiang mai just outside the old city behind Wat Lok Moli.</p> 
    </div>
</div>